<section class="py-5">
	<h1 class="display-3">
		Thank You
	</h1>
	<p class="lead">Your eBook Should be emailed to you tomorrow</p>
	<a class="btn btn-dark btn-lg" href="/">Go Back Home</a>
</section>